{% load i18n static jazzmin admin_urls %}
{% if not is_popup %}
        <footer class="main-footer {{ jazzmin_ui.footer_classes }}">
            <div class="float-right d-none d-sm-inline">
                <b>{% trans 'Military Medical Services' %}</b> {% get_jazzmin_version %}
            </div>
            {% autoescape off %}
                <strong>{% trans 'المالك' %} &copy; {% now 'Y' %} {{ jazzmin_settings.copyright }}.</strong> {% trans 'جميع الحقوق محفوضة' %}
            {% endautoescape %}
        </footer>
        {% if jazzmin_settings.show_ui_builder %}
            {% include 'jazzmin/includes/ui_builder_panel.html' %}
        {% endif %}
{% endif %}